{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{% include "admin/navbar.html.twig" %}

<div class="container mt-4">
    <h1 class="mb-3">Create courses</h1>
</div>

{% endblock %}